[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = git://github.com/senny/rvm.el.git
[submodule "vendor/ethan-wspace"]
	path = vendor/ethan-wspace
	url = http://github.com/glasserc/ethan-wspace.git
[submodule "vendor/rainbow-mode"]
	path = vendor/rainbow-mode
	url = git://git.naquadah.org/rainbow.git
[submodule "vendor/color-theme-twilight"]
	path = vendor/color-theme-twilight
	url = http://github.com/crafterm/twilight-emacs.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
